.cabecera{
    display: flex;
    background-color: rgb(0, 0, 0);
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
}

.cabeceraImagen{

  
    

}

.cabeceraEnlaces{
  
    display: flex;
    align-items: center;
    gap: 20px;



}

.cabeceraEnlaces a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.cabeceraImagen img{
    width: 100px;
}