body{

    
   background-color: #fff;
   font-family: "Jost", sans-serif;
   color: #5756a2;

}


.contenedorPrincipal{
    height: auto;
    max-width: 1620px;
    margin: 80px auto;
    border-radius: 20px;
    background-color: #f1f9fe;
    -webkit-box-shadow: 0px 5px 62px 0px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 5px 62px 0px rgba(0, 0, 0, 0.19);
}


.ContenedorCabecera{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 130px;
}

.contendedorDelContenedorCabecera{
    display: flex; 
    flex-direction: column;
}


h1{   
    font-size: 40px;
    text-align: left;
}



progress{
    width: 300px;
    height: 40px;
    accent-color: #5756a2;
}


.ContenedorCheckBox{
    display: flex;
    justify-content: space-between;
    padding-left: 130px;
    flex-direction: column;
    padding-right: 130px;
    align-items: center;
}


.ContenedorCheckBox form{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 21px;
    color: rgb(97, 97, 97);
 
   
}

.bi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: relative;
    color: rgba(108, 117, 125, 0.7);
    border: none;
    background-color: transparent;
    outline: none !important;
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
    min-width: max-content;
    
}

.bi span p{
    
    font-size: 1px !important;
}

.hoverChecked{
    display: flex;
    justify-content: center;
    align-items: center;
}



.hoverCheck{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hoverCheck:hover{

    color: rgb(36, 36, 36);
}


.bi-check-circle{

    color: rgb(107, 76, 249); 

}

.checkboxp{
    font-size: 20px !important;
}

.pConMargen{
    

    margin-left: 20px;
    font-size: 30px !important;

}


/* Estilos del titulo y texto descriptivo */

h2{

    font-size: 35px;
    text-align: center;
    padding-top: 100px;

}

.pdeh2{

    font-size: 25px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 70px;

}

.contenedorTextoIntroductorio{

    padding-left: 130px;
    padding-right: 130px;

}


/* ESTILOS FORMULARIO */

form{
    display: block;
    justify-content: center;
    padding-left: 250px;
    padding-right: 250px;
    

}

.divForm{
    width: 100%;
    margin-bottom: 5px;
    background: rgb(221, 238, 249);
    border-radius: 3px;
    margin-top: 10px;
}

.divForm span, input{
    font-family: "Jost", sans-serif;
    font-weight: 550;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}

.divForm label{
    display: block;
    width: 100%;
    border: 2px solid transparent;
    padding: 8px 10px;
    position: relative;
    box-sizing: border-box; 
    border-radius: 3px;
    transition: .25s;
}

.divForm label input{
    display: block;
    width: 100%;
    border: none;
    background:transparent;
    outline: none; /*Es la linea azul que le pone el navegador por defecto cuando clickeamos*/
    
}

.divForm label span{
    color: #5756a2;
    position: absolute;
    top: 8px;
    left: 10px;
    transition: .25s;
    
}

/* focus */



.divForm label.focus{
    border-color: #5756a2;
    background-color: #f1f9fe;
}

.divForm label span.focus{
    font-size: 17px !important;
    color:  #1b1b1b;
}

.divForm.focus{
    background-color: transparent !important;
}




/* top */

.divForm label span.top{
    left: 10px;
    top: -30px;
    font-size: 12px;
    background-color: #f1f9fe;
    padding: 00 5px;
}


.ContenedorFormularioEntreDos{
    display: flex;
    gap: 20px;
}

.ContenedorFormulario7030{
    display: flex;
    gap: 20px;
}

.contendedor70{

    display: flex;
    flex: 2;

}

.contenedor30{

   flex: 1;

}
